.document-title {
  display: flex;
  align-items: center;
  font-weight: 600;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem;
}

::ng-deep .p-badge {
  font-size: 0.75rem;
}
